.profile-editor{
    margin: 150px 0px 10px 10px;
    padding: 0px 0px 0px 10px;
}

.profile-editor input{
    display: flex;
    margin: 20px 0px 0px 0px;
}

.profile-editor label{
    margin: 20px 0px 0px 0px;
}

.btn-submit{
    margin: 10px 0px 0px 0px;
}