<h2>My Heroes</h2>

<!-- (click) passes input value to add() and then clears the input -->
<!-- <div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div> -->

<ul class="heroes">
    <button type="button" class="add-button" routerLink="/name-editor">
      Reactive Forms
    </button>
    <button type="button" class="add-button" routerLink="/profile-editor">Profile Editor</button>
    <button type="button" class="add-button" routerLink="/hero-form">
      Add hero
    </button>
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button type="button" class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
  </li>
</ul>
